<mat-card class="chat-container">
  <div class="subscribe">
    <mat-form-field class="username-input" appearance="outline">
      <mat-label>Enter username</mat-label>
      <input matInput [(ngModel)]="username" placeholder="Ex. User1234" />
    </mat-form-field>
    <button
      class="btn"
      mat-raised-button
      color="primary"
      (click)="joinChat(username)"
      [disabled]="(isConnected$ | async) !== null || username === ''"
    >
      Join chat
    </button>
  </div>
  <div class="chat-area">
    <p *ngFor="let msg of messages$ | async">
      {{ msg.username }}: {{ msg.message }}
    </p>
  </div>
  <div class="message">
    <mat-form-field class="message-input" appearance="outline">
      <textarea
        matInput
        [(ngModel)]="message"
        placeholder="Enter message..."
      ></textarea>
    </mat-form-field>
    <button
      class="btn"
      mat-raised-button
      color="secondary"
      (click)="sendMessage(message)"
      [disabled]="(sending$ | async) || message === ''"
    >
      Send
    </button>
  </div>
</mat-card>
