<mat-card class="chat-container">
  <div class="subscribe">
    <mat-form-field class="username-input" appearance="outline">
      <mat-label>Enter username</mat-label>
      <input matInput placeholder="Ex. User1234" />
    </mat-form-field>
    <button class="btn" mat-raised-button color="primary">Join chat</button>
  </div>
  <div class="chat-area"></div>
  <div class="message">
    <mat-form-field class="message-input" appearance="outline">
      <textarea matInput placeholder="Enter message..."></textarea>
    </mat-form-field>
    <button class="btn" mat-raised-button color="secondary">Send</button>
  </div>
</mat-card>
